<!DOCTYPE html>
<html>
<head>
<title>SCCMP Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">


<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Homepage</b></h1>
  <p>Complaint submisssion<span class="w3-tag">sccmp</span></p>
</header>

<!-- Grid -->
<div class="w3-row">


<div class="w3-col l8 s12">

  <div class="w3-card-4 w3-margin w3-white">
    <img src="/images/sccmp.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>ABOUT THE PLATFORM</b></h3>
      <h5>What you can do! <span class="w3-opacity">July 26, 2023</span></h5>
    </div>

    <div class="w3-container">
      <p>SCCMP (Smart Customer Complaints Management Platform) allows you to submit your
        complaints related to service and transactions. Note that this platform is only for research purposes.</p>
    </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
            <a href="/complaint" class="w3-col m8 s12">
                <button class="w3-button w3-padding-large w3-white w3-border">SUBMIT COMPLAINT »</button>
              </a>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- <div class="w3-card-4 w3-margin w3-white">
  <img src="/images/tsara.jpeg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>Tsaravokatra</b></h3>
      <h5>Who are we? <span class="w3-opacity">July, 2023</span></h5>
    </div>

    <div class="w3-container">
      <p> Embracing the ancestral and traditional expertise passed down through generations, this enterprising woman carries a profound understanding of vanilla preparation and treatment. Guided by a strong legacy and backed by enthusiastic supporters, she blends her deep-rooted knowledge with innovative practices to yield vanilla of exceptional quality, positioning it competitively in the global market. Through this harmonious fusion of heritage and forward-thinking, the manager showcases an 
        unwavering commitment to delivering superior vanilla products, making a remarkable mark on the vanilla industry.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div> -->

</div>


<div class="w3-col l4">
 
  <div class="w3-card w3-margin w3-margin-top">
  <img src="/images/myself.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Baggio Deroger</b></h4>
      <p>https://github.com/baggio18-droid</p>
    </div>
  </div><hr>
  
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Vanilla</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Import</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Export</span>
    </p>
    </div>
  </div>
  

</div>


</div><br>


</div>


<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="/login" target="_blank"> Admin</a></p>
</footer>

</body>
</html>
